{% extends 'base.html' %}
{% block content %}
<div class="container"></div>

{% endblock  %}
{% block script %}
<script>
    "use strict"

    let FILTER_API_URL = "api/filter/"  // + date

    let FILTER_DETAIL_URL = "filter/"
    let STOCK_DETAIL_URL = "stock/"

    d3.json(FILTER_API_URL + "0/" +strfdate(new Date("2021-05-03")))
    .then(function(data){
        for(let i in data['data']){
            append_card(d3.select(".container"),data['data'][i]);
        }
    });

    function append_card(container, data){
        let card = container.append("div").classed("card", true)
        card.append("hr");
        
        let title = card.append("div")
        title.classed("title", true)
        .classed("text", true)
        .append("h2")
        .text(data['condition_name'])
        .on("click", ()=>{
            // 조건식 결과 상세 페이지 링크
            // location.href = FILTER_DETAIL_URL + data['condition_name']
        })

        let content = card.append("div")
        content.classed("content", true)
        .classed("text", true)
        .append("ul")
        .selectAll("li")
        .data(data['stock_name'])
        .join("li")
        .append("a")
        .attr("href", STOCK_DETAIL_URL + data['stock_code'])
        .text(d=>d)
    };



</script>
{% endblock %}