{% extends 'base.html' %}
{% block content %}
<div class="container"></div>

{% endblock  %}
{% block script %}
<script>
    "use strict"

    d3.select(".container")
    .append("h2")
    .classed("text", true)
    .text("종목 세부 페이지")

    let chart_url = "http://127.0.0.1:8000/stock/filter/"
                 + location.href.split("/")[4]
                 + '/'
                 + strfdate(new Date("2021-05-03"))
    
    d3.json(chart_url)
    .then(function(raw){
        let data = raw.data[0];
        let num = raw.data[0].stock_name;
        for(let i in num){
            console.log(data.stock_name[i])
            console.log(data.stock_code[i])
            append_chart(d3.select(".container"), data.stock_name[i])
        }
        
    });

    function append_chart(container, data){
        let chart = container.append("div").classed("chart", true)
        chart.append("g");

    };



</script>
{% endblock %}