{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static   'css/base.css' %}">
    <title>버블 파이낸스</title>
</head>
<body>
{% include "navbar.html" %}
{% block content %}
{% endblock %}
<script src="https://d3js.org/d3.v6.min.js"></script>
{% block script %}
{% endblock %}
</body>
</html>